body {
    padding:4px 12px !important;
}

div.elements, div.form{
    border: 1px solid #ddd;
    min-height:300px;
    margin:35px 0px;
}

div.elements {
    min-height:100px;
}

.form {
    width: 100%;
}

.place_holder_after {
    border: 1px solid red !important;
}

.form_el_row {
    border: 1px solid #ddd;
}